@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&family=UnifrakturMaguntia&display=swap");

@font-face {
  font-family: "UnifrakturCook";
  src: url("/UnifrakturCook-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.unifrakturcook-bold {
  font-family: "UnifrakturCook", cursive;
}
html,
body {
  max-width: 1400px;
  padding: 0;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  --wcm-z-index: 1500;
  --w3m-z-index: 1500;
}

a {
  color: #84309c;
  text-decoration: none;
}

body {
  color: #e7e8e8 !important;
  background: #1b1724 !important;
}

.custom-button {
  background-color: #d08ecf !important;
  color: #fff !important;
  --bs-btn-border-color: none;
}

.custom-button:hover {
  background-color: #b965b8 !important;
  color: #fff !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #8e662b;
}
.mySwiper {
  width: 100%;
  height: 500px;
}

.mySwiper .swiper-slide {
  width: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #8e662b;
  font-family: "UnifrakturCook";
  font-weight: 700;
  letter-spacing: 0.15rem;
  line-height: 1.5;
  margin: 0 0 1.5rem 0;
  text-align: center;
}
.headlines h1 {
  line-height: 1 !important;
  margin-bottom: 1rem !important;
  font-size: calc(1.425rem + 2.1vw);
}

.headlines h2 {
  font-size: 2.5rem;
  line-height: 1.3;
}

.headlines h1,
.headlines h2,
.headlines h3,
.headlines h4,
.headlines h5,
.headlines h6 {
  color: #8e662b !important;
  font-family: UnifrakturCook !important;
  font-weight: 700;
  letter-spacing: 0.15rem;
  margin: 0 0 1.5rem;
  text-align: center;
}

.words {
  font-size: 1.25rem;
  font-weight: 300;
}

.words p {
  margin: 0 2rem 2rem !important;
  clear: both;
  text-align: center;
  line-height: 1;
}
.connect-button {
  position: absolute !important;
  top: 7rem !important;
  right: 3rem !important;
  width: 3rem !important;
  height: 3rem !important;
  /* minWidth: 3rem; */
  border: 3px solid goldenrod !important;
  background: #444 !important;
  z-index: 911 !important;
}

#header > div.menu-wrapper > button.tw-connect-wallet.css-ipykbl {
  position: absolute !important;
  top: 6.5rem !important;
  right: 5% !important;
  width: 3rem !important;
  height: 3rem !important;
  border: 3px solid goldenrod !important;
  background: #444 !important;
  z-index: 911 !important;
  font-size: 2.5rem;
  object-fit: cover;
  max-width: 3rem;
  border-radius: 10px;
  padding: 0.5rem;
  min-width: 0 !important;
}

#header
  > div.menu-wrapper
  > button.tw-connected-wallet.wallet-button.css-10luob4 {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 6.5rem;
  right: 5%;
  z-index: 911;
}

#header
  > div.menu-wrapper
  > button.tw-connected-wallet.wallet-button.css-10luob4
  > div.css-1d4s0we {
  font-size: 2.5rem;
  object-fit: cover;
  right: 5%;
}

#header
  > div.menu-wrapper
  > button.tw-connected-wallet.wallet-button.css-10luob4
  > div:nth-child(1) {
  font-size: 2.5rem;
  object-fit: cover;
  right: 5%;
}
#header > div.menu-wrapper > button.tw-connected-wallet.css-10luob4 {
  font-size: 2.5rem;
  object-fit: cover;
  width: 3rem !important;
  height: 5% !important;
}
.container {
  /* width: 100%; */
  max-width: 1200px;
  /* padding: 0 0rem; */

  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}
